.square{
  float: left;
  width: 30%;
  height: 0;
  padding-bottom:30% ;
  background-color: burlywood;
  margin: 20px;
  border-radius: 30px;
}
.container{
  width: 600px;
  margin: 0 auto;
  
}
body{
  background-color: #232323;
}
h1{
  color: white;
  text-align: center;
}

.message{
  color:black;
  text-align: center;
  background-color: white;
  display: block;
  height:20px;

}
#stripe{
height:30px;
background-color: white;
text-align: center;

}
