.square{
  float: left;
  width: 30%;
  height: 0;
  padding-bottom:30% ;
  background-color: burlywood;
  margin: 20px;
  border-radius: 30px;
  transition: background 0.7s;
  -webkit-transition: background 0.7s;
  -moz-transition: background 0.7s;
}
.container{
  width: 600px;
  margin: 0 auto;
  
}
body{
  background-color: #232323;
}
h1{
  color: white;
  text-align: center;
}

.message{
  color:black;
  text-align: center;
  background-color: white;
  display: block;
  height:20px;

}
#stripe{
height:30px;
background-color: white;
text-align: center;
}
button {
  border: none;
  background: none;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  height: 100%;
  font-weight: 700;
  color: rgb(42, 142, 209);
  letter-spacing: 2px;
  font-size: inherit;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  outline: none;
}